/* Not enough time :( */


        body {
            margin: 0 auto;
            width: 860px;
            height: 500px;
            font-family: sans-serif;
        }
        main 
        { 
            border: 1px solid #444;
            border-radius: 10px; 
            vertical-align: middle;
            padding: 10px;
            height: 500px;
            }

        div.wrap {
            display: inline-block;
        }
        nav ul { 
            text-align: center; 
            }
        nav li { 
            display: inline-block; 
            }
        nav a {
            padding: 0 10px;
            color: #1DB7F1;
            font-size: 1.5em;
            font-weight: bold;
        }

        main section {
            display: inline-block;
            margin: 0 0 10px 10px;
            padding: 10px 20px;
            width: 265px;
        }
        fieldset {
            border: 1 px solid black;
            border-radius: 5px;
            display: inline-block;
        }
        fieldset legend {
            text-align: center;
        }
        main ul {
            float: right;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        main li {
            margin-bottom: 10px;
        }
        section.Prefs {
            border: 0px;
            width: 150px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
        }
        section.Prefs dl, section.Prefs dt, section.Prefs dd {
            display: inline-block;
            margin: 0px;
            padding: 2px;
        }
